@model ormApp.Models.User

@{
    ViewData["Title"] = "Details";
}

<!-- Посилання на ваш файл стилів -->
<link rel="stylesheet" href="~/css/users-styles.css" />


<h1>User Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Username</dt>
        <dd class="col-sm-10">@Model.Username</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>

        <dt class="col-sm-2">First Name</dt>
        <dd class="col-sm-10">@Model.FirstName</dd>

        <dt class="col-sm-2">Last Name</dt>
        <dd class="col-sm-10">@Model.LastName</dd>

        <dt class="col-sm-2">Address</dt>
        <dd class="col-sm-10">@Model.Address</dd>

        <dt class="col-sm-2">Residence</dt>
        <dd class="col-sm-10">@Model.Residence</dd>
    </dl>
</div>

<h4>Incomes</h4>
<table class="table">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Date</th>
            <th>Source</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var income in Model.Incomes)
        {
            <tr>
                <td>@income.Amount</td>
                <td>@income.Date.ToShortDateString()</td>
                <td>@income.Source</td>
            </tr>
        }
    </tbody>
</table>

<h4>Expenses</h4>
<table class="table">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var expense in Model.Expenses)
        {
            <tr>
                <td>@expense.Amount</td>
                <td>@expense.Date.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model.UserId" class="btn btn-warning">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
