@model IEnumerable<ormApp.Models.User>

@{
    ViewData["Title"] = "Users";
}

<!-- Посилання на ваш файл стилів -->
<link rel="stylesheet" href="~/css/users-styles.css" />

<h1>Users</h1>

<p>
    <a asp-action="Create" asp-controller="Users" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Username</td>
                <td>@item.Email</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>
                    <a asp-controller="Users" asp-action="Edit" asp-route-id="@item.UserId" class="btn btn-warning">Edit</a> |
                    <a asp-controller="Users" asp-action="Details" asp-route-id="@item.UserId" class="btn btn-info">Details</a> |
                    <a asp-controller="Users" asp-action="Delete" asp-route-id="@item.UserId" class="btn btn-danger">Delete</a>
                    <a asp-controller="Users" asp-action="TotalIncomePerUser"
                       asp-route-id="@item.UserId" class="btn btn-danger">
                         Total Income
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
